

#filter_panel {
    padding: 0px 30px 0px 30px;
    min-height: 100vh;
    max-height:fit-content;
}

#filter_controller {
    padding-bottom: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    align-self: center;
}

#contenido_panel {
    align-self: center;
    height: auto;

}

#page_panel {
    align-self: center;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: auto;

}

.boton_pag {
    margin: 0px 4px 8px 4px;
    padding: 5px 10px 5px 10px;
    align-content: center;
    border-radius: 6px;
    font-weight: bold;
}

.outrange {
    pointer-events: none;
    background-color: #bbe5f0 !important;
}

.active_page {
    cursor: not-allowed;
    pointer-events: none;
}

#buscador {
    margin: 20px 0px 20px 0px;
}

.filter_button {
    border-radius: 15px;
    padding: 4px 12px 4px 12px;
}