/*CONTENEDORES DE CARDS*/

.listacards {
    padding: 0% 4% 4% 4%;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
    flex-wrap: wrap;
    gap: 4%;
    row-gap: 20px;
    
}


/*ESTILOS DE LAS CARDS*/

.cajabase {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 260px;
    
}

.cajalateral {
    flex-direction: column;
    height: 100%;
    width: 15px;
    border-radius: 10px;
}

.cajamain {
    
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    border-radius: 10px;
    margin: 0px 5px;
}

.cajatitulo {
    flex-direction: row;
    height: 40px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.cajainfo {
    flex-direction: row;
    height: 80px;
}

.cajabotones {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 35px;
}

.cajaboton {
    height: 35px;
    width: 35px;
    margin: 2px 0px;
    padding: 0px;
    border-radius: 10px;
}

.cajaboton a{
    display: block;
    padding-top: 4px;
    align-content: center;
    color: #ffffff;
    height: 100%;
    width: 100%;
}

.cajaboton a:hover {
    color: #000000;
}

.cajaboton:hover {
    background-color: #ffffff;
    color: #000000;
}

@media only screen and (max-width: 500px) {
    .cajabase {
        width: 100%;
    }

    .cajainfo {
        height: fit-content;
    }

    .cajamain {
        width: 90%;
        height: max-content;
    }

    .cajabotones {
        width: 26px;
    }

    .cajaboton {
        height: 26px;
        width: 26px;
        border-radius: 6px;
        font-size: small;
    }

    .cajaboton a{
        padding-top: 2px;
    }
    
}