
/*MESA DEL ARQUITECTO*/

.show{
    display: block;
}

.hide {
    display: none;
}

/*SKILLS RATES*/

.checked {
    color: orange;
}

.star:hover {
    color: red;
}

/*NAVBAR*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav li {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav li:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav li.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }



  @media screen and (max-width: 600px) {
    .topnav li:not(:first-child) {display: none;}
    .topnav li.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive li {
      float: none;
      display: block;
      text-align: left;
    }
  }


/*CSS de la CREACION de Elementos(Eventos)*/
/*CSS de la CREACION de Elementos(Eventos)*/
.work_box {
    margin: 1%;
    display: grid;
    grid-template-columns: 3fr 4fr 4fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 100%;
    column-gap: 1%;
    row-gap: 1%;
    border: 1px solid #00e621;
    background-color: azure;
}

.one {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.two {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.thr {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.fou {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}

.work_card {
    background-color: antiquewhite;
    border: solid 2px red;
    border-radius: 10px;
    padding: 15px;
    align-content: center;
    align-items: center;
    text-align: center;
    /*padding: 2%;
    margin-left: 1%;
    margin-right: 1%;*/
}

textarea {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

button{
    width: 100%;
    border-radius: 10px;
    font-size: 30px;
}

.verde {
    background-color: #50ba57;
    color: #ffffff;
}

.verde:hover {
    background-color: #ffffff;
    color: #50ba57;
}

@media only screen and (max-width: 800px) {
    .one {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .two {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .thr {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .fou {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

/*CSS de la CREACION de Elementos(Artefactos)*/

.artefacto {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}


/*CSS del Menu Lateral de CREACION*/
/*CSS del Menu Lateral de CREACION*/


.create_table {

    

    /*Test Propouses*/
    border: solid 2px #00e621;
    background-color: lightslategray;
}

.side {
    grid-column-start: 1;
    grid-column-end: 1;
}