
/*BARRA DE NAVEGACION DE ARQUITECTO HORIZONTAL*/

a {
  text-decoration: none;
}

.creator_nav {
  background-color: #7671b6;
  border-bottom: 2px solid #080532;
  /*Linea indispensable para eliminar un molesto espacio en blanco entre nav y el contenido*/
}

.nav_container {
  display: flex;
  flex-direction: row;
  border-left:  1px solid #142066;
  border-right:  1px solid #142066;
  margin: 0px 10% 0px 10%;

  list-style: none;
  padding-left: 0px;
}

.nav_container li {
  text-align: center;
  width: 100%;
  
}

.nav_item {
  padding: 10px 0px 10px 0px;
  border-left:  1px solid #142066;
  border-right:  1px solid #142066;
  display:block;
  width:100%;
  height: 100%;
  color: #ffffff;
  font-size: larger;
  font-weight: bold;
}



/*EL CONTENIDO MESA ARQUITECTO MENU LATERAL*/
.menu_flotante {
  z-index: 50;
  background-color: #142066;
  position:absolute;
  width:300px;
  top:0;
}

.mv_arq {
  left:-300px; /* Ocultamos el menú en la parte izquierda para que no se vea a menos que pulsemos sobre la hamburguesa*/
  border-bottom-right-radius: 30px;
}

.mv_per {
  right:-300px; /* Ocultamos el menú en la parte derecha para que no se vea a menos que pulsemos sobre la hamburguesa*/
  border-bottom-left-radius: 30px; 
}

.head_arquitecto {
  display: block;
  height: 50px;
  border-bottom: 2px solid #080532;
  text-align: center;
  padding-top: 6px;
}

.content_arquitecto {
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #485152;
  border-right: 1px solid #485152;
  background-color: #b1d3d5;
}

.categoria_arq {
  border-top: 2px solid #485152;
  border-right: 2px solid #1f2a2b;
  border-left: 2px solid #485152;
  border-bottom: 2px solid #1f2a2b;

  border-radius: 10px;
  color: #ffffff;

  font-size: medium;
  font-weight: bold;

  padding: 8px 0px 8px 0px;

  margin: 5px 5px 0px 5px;
  background-color: #596c6e;
  text-align: center;
}

.categoria_arq:hover {
  border-top: 2px solid #1f2a2b;
  border-right: 2px solid #485152;
  border-left: 2px solid #1f2a2b;
  border-bottom: 2px solid #485152;
  color: #ffffff;
}

.footer_mf {
  height: 35px;
  border: 2px solid #080532;
}

.fv-arq{
  border-bottom-right-radius: 30px;
}

.fv-per{
  border-bottom-left-radius: 30px;
}

.lista_arquitecto li a {
  text-decoration: none;
  color: #ffffff;
}

.ml-open {
  display: flex;
  flex-direction: column;

  position:absolute;
  top:0;
}

.ov-arq{
  left: 0px;
}

.ov-per{
  right: 0px;
}

.open-f {
  padding-top: 10px;
  height: 30px;
  /*!!!!!*/

  background-color: #142066;
  border: 1px solid #080532;
}

.open_arquitecto img{
  width: 46px;
  height: 46px;
}


/*SKILLS RATES*/

.checked {
  color: orange;
}

.star:hover {
  color: red;
}

/*NAVBAR*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/*CSS de la CREACION de Elementos(Eventos, Extraviados?)*/
/*CSS de la CREACION de Elementos(Eventos, Extraviados?)*/

#mundo_view {
  background-color: #b1d3d5;
  border: 2px solid #485152;
  padding: 20px 8px 20px 8px ;
  border-radius: 8px;
}


img {
  max-width: 100%;
  max-height: 100%;
}


.fullscreen {
  background-color: #596c6e;
}

.work_box {
  padding: 1%;
  display: grid;
  grid-template-columns: 3fr 4fr 4fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 100%;
  column-gap: 1%;
  row-gap: 1%;
}

.one {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.two {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.thr {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.fou {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
}

.work_card {
  background-color: #8da2a3;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 15px;
  align-content: center;
  align-items: center;
  text-align: center;
  /*padding: 2%;
  margin-left: 1%;
  margin-right: 1%;*/
}

textarea {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.verde {
  background-color: #50ba57;
  color: #ffffff;
}

.verde:hover {
  background-color: #ffffff;
  color: #50ba57;
}

@media only screen and (max-width: 800px) {
  .one {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
  }

  .two {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 1;
  }

  .thr {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
  }

  .fou {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4;
  }
}

/*CSS de la CREACION de Elementos(Artefactos)*/

.artefacto {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}


/*Boton del inicio de juego*/

#game_starter {
border-radius: 25%;
align-self: center;
background-color: #04AA6D;
color: #ffffff;
}



/*COMUNIDAD*/

/*Destacados*/

.expositor{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.card {
border-top: 8px solid #333;
border-right: 8px solid #333;
border-bottom: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}

/*Espacio de cartas*/

.item_block {
display: flex;

}

.itemcard {
border: 1px solid red ;
}

.itemcard_title {
border-top-right-radius: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
background-color: #e2e2e2;
color: #333;
padding: 3px 35px 2px 35px;
}

.itemcard_extra {
border-bottom-left-radius: 25%;
background-color: #ffffff;
border: 5px solid red;
}




